.background{
	background-image:url('images/background.png'); 
background-position: center; 
background-size: cover; 
height:100vh;
background-blend-mode: soft-light;
background-color: #1E1E1E;   
}
.circle-image{
	position: absolute;
width:100px;
height:100px;
left:600px;
top: 200px;

}

.navbar{
text-align: right;

	
}

 a{
	color: white;
	font-family: serif;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	top: 50px;
}
 a::after{
	content:'';
	height: 3px;
	width: 0%;
	background: red;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5sec;
	color: red;
	}

.navbar span {color: red;

}
a:hover::after{
	width: 50%;
	color: red;
}

span {
	color: red;
	font-family: arial;
	
}
h3{
	position: absolute;
width: 283px;
height: 54px;
left: 650px;
top: 420px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 54px;
color: #FFFFFF;
}
h2{color:#FFFFFF ;
position: absolute;
width: 157px;
height: 48px;
left: 50px;
top: 50px;
margin: 0 20px;
font-family: 'arial';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 48px;}

.cmartins{
	position: absolute;
width: 283px;
height: 54px;
left: 600px;
top: 410px;
font-family: 'arial';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
color: #FFFFFF;
}

.about{
	background-color:#1E1E1E;
	width: 100%;
	padding: 600px 0px;
	height: 100%;
}

.image1{
	position: absolute;
width: 370px;
height: 483px;
left: 200px;
top: 800px;
}

.image3{
	position: absolute;
width: 470px;
height: 766px;
left: 875px;
top: 800px;
}

.image2{
	position: absolute;
width: 300px;
height: 480px;
left: 675px;
top: 980px;

}

h1 {color: white;
	position: absolute;
	width: 370px;
height: 483px;
left: 200px;
top: 1400px;
}
p{
	font-size: 20px;
color: white;
		position: absolute;
width: 450px;
height: 483px;
left: 200px;
top: 1450px;
}

#more{
	font-size: 20px;
color: white;
		position: absolute;
width: 450px;
height: 483px;
left: 200px;
top: 1600px;
} 

.capture{
background-color:#1E1E1E;
width: 1450px;
height: 431px;
left: 0px;
top: 2100px;

}

body{
	background-color:#1E1E1E
}

.line{
	width: 1px;
	background-color: white;
	height: 150px;
	position: absolute;
	top: 115px;
	left:80px;
}

.line1{
	width: 1px;
	background-color: white;
	height: 150px;
	position: absolute;
	top: 420px;
	left:80px;	
}
.capture2{
color: white;
position: absolute;
width: 843px;
height: 57px;
left: 375px;
top: 2379px;
font-family:'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 57px;
}

.image4{
	position: absolute;
width: 340px;
height: 809px;
left: 200px;
top: 2300px;
}

.image5 {
	position: absolute;
width: 500px;
height: 300px;
left: 560px;
top: 2430px;
}

.image6{
	position: absolute;
width: 340px;
height: 246px;
left: 200px;
top: 3120px;
}

.image7{
	position: absolute;
width: 384px;
height: 441px;
left: 560px;
top: 2925px;
}

.image8{
	position: absolute;
width: 384px;
height: 441px;
left: 974px;
top: 2925px;
}

.image9{
	position: absolute;
width: 384px;
height: 441px;
left: 200px;
top: 3390px;
}

.image10 {
	position: absolute;
width: 384px;
height: 441px;
left: 890px;
top: 3390px;
}

.image11 {
	position: absolute;
width: 340px;
height: 441px;
left: 900px;
top: 4100px;
}
.portfolio{
	background-color: #1E1E1E;
	width: 100%;
	padding: 600px 0px;
	height: 100%;
}
#portfolio{
	position: absolute;
width: 252px;
height: 67px;
left: 1100px;
top: 2240px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 52px;
line-height: 78px;
text-align: right;
color: #FFFFFF;
}

input[type=button]{
	position: absolute;
left:1110px;
top: 3750px;
width: 249px;
height: 72px;
background: #F01A44;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
}
h5{
	position: absolute;
width: 350px;
height: 67px;
left: 300px;
top: 3800px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 3rem;
line-height: 78px;
color: white;

}

#testimonial{
	text-align: justify;
	position: absolute;
left: 200px;
top: 3920px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 160%;
/* or 29px */
color: #FFFFFF;

}

#text{
	position: absolute;
	text-align: left;
width: 340px;
height: 441px;
left: 450px;
top: 4100px;
font-weight: 400;
font-size: 18px;
line-height: 160%;
/* or 29px */
color: #FFFFFF;
}

#filltext{
	text-align: justify;
	position: absolute;
width: 340px;
height: 441px;
left: 920px;
top: 4020px;
font-family: arial;
font-style: normal;
font-weight: 400;
font-size: 6rem;
line-height: 160%;
/* or 29px */
color: dimgray;
opacity:20%;
}


footer{
	background: #000;	
	clear: both;
	margin-top: 1200px;
	width:1450px;
	height: 250px;
	left: 0px;
}

small{
	color: white;
}

#foot1{
position: absolute;
width: 159px;
height: 29px;
left: 150px;
top: 4730px;
}

#social{
	position: absolute;
width: 159px;
height: 29px;
left: 550px;
top: 4730px;
}

.mail{
position: absolute;
width: 159px;
height: 29px;
left: 179px;
top: 4800px;	
}

.mail-icon {
		position: absolute;
width: 159px;
height: 29px;
left: 150px;
top: 4800px;
}
.email-box{
		position: absolute;
width: 159px;
height: 29px;
left: 900px;
top: 4800px;
}


.email-box input{
font-weight:600;
font-size: 14px;
line-height:27px;
text-align:left;
color: black;
background-color: black;
width: 249px;
height: 30px;
}

.send-button input{
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: left;
color: #0;
width: 100px;
height: 35px;
left: 1155px;
top: 4800px

}

.header-icon{
width: 159px;
height: 29px;
margin-left: 520px;
padding-top: 10px;
}

#social-icon {
width: 159px;
height: 29px;
margin-left: 520px;
padding-top: 100px;
}
#social-icon img{
padding: 5px;
}

#copyright{
position: absolute;
width: 159px;
height: 29px;
left: 510px;
top: 4890px;	
}